@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --link-color: #0a4297;
  --secondary-color: #999;
}

@theme {
  --color-bg: #fff;
  --color-text: #000;
  --color-text-muted: #999;
  --color-border: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
    --color-text: #fff;
    --color-text-muted: #999;
    --color-border: #222;

    --link-color: #2972e3;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--color-bg);
}

body {
  color: var(--color-text);
}

.skranji-regular {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
}

.skranji-bold {
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

#app {
  @apply sm:px-15 px-5;
  position: relative;
}

.page-section {
  width: 100vw;
  height: 100dvh;
}

a {
  transition: color 0.2s;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0.1em;
  background-color: var(--link-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a:hover {
  color: var(--link-color);
}